In [45]:
%reset -f
import pandas as pd
import numpy as np
import datetime
import math
from scipy import stats

In [46]:
import os 
path = 'xxxxx'
os.chdir(path)
os.listdir(path)

['Order Brushing.csv']

In [47]:
data = pd.read_csv(path+'Order Brushing.csv')
data.head(5)

          orderid     shopid     userid        event_time
0  31076582227611   93950878   30530270  2019/12/27 00:23
1  31118059853484  156423439   46057927  2019/12/27 11:54
2  31123355095755  173699291   67341739  2019/12/27 13:22
3  31122059872723   63674025  149380322  2019/12/27 13:01
4  31117075665123  127249066  149493217  2019/12/27 11:37

## Q1: Conduct DateTime

In [48]:
data['event_time'] = pd.to_datetime(data['event_time'], format='%Y-%m-%d %H:%M:%S')
data.head(10)

          orderid     shopid     userid          event_time
0  31076582227611   93950878   30530270 2019-12-27 00:23:00
1  31118059853484  156423439   46057927 2019-12-27 11:54:00
2  31123355095755  173699291   67341739 2019-12-27 13:22:00
3  31122059872723   63674025  149380322 2019-12-27 13:01:00
4  31117075665123  127249066  149493217 2019-12-27 11:37:00
5  31119725718155  173811070  116451780 2019-12-27 12:22:00
6  31151322178251  107921853  166741763 2019-12-27 21:08:00
7  31079856153738  178400128   61272835 2019-12-27 01:17:00
8  31118426867571  147941492   10986763 2019-12-27 12:00:00
9  31133458226149  164933170  135957741 2019-12-27 16:10:00

In [49]:
data = data.sort_values(['shopid','event_time','userid'])
data

               orderid     shopid     userid          event_time
59      31086409141107      10009  196962305 2019-12-27 03:06:00
76187   31144571933461      10051    2854032 2019-12-27 19:16:00
9055    31254979546679      10051   48600461 2019-12-29 01:56:00
188513  31195675919209      10061  168750452 2019-12-28 09:27:00
174620  31205132327893      10061  194819216 2019-12-28 12:05:00
...                ...        ...        ...                 ...
81950   31493203163305  214949521   46269178 2019-12-31 20:06:00
108903  31328775676314  214964814  200983383 2019-12-29 22:26:00
203031  31453591917585  215175775   13688804 2019-12-31 09:06:00
42842   31472077221692  215175775  129266028 2019-12-31 14:14:00
160711  31487696848532  215435223   79515106 2019-12-31 18:34:00

[222750 rows x 4 columns]

In [50]:
data['previous_time'] = data.groupby(['shopid'])['event_time'].shift(1)

In [51]:
data.head(20)

,orderid,shopid,userid,event_time,previous_time
59,31086409141107,10009,196962305,2019-12-27 03:06:00,NaT
76187,31144571933461,10051,2854032,2019-12-27 19:16:00,NaT
9055,31254979546679,10051,48600461,2019-12-29 01:56:00,2019-12-27 19:16:00
188513,31195675919209,10061,168750452,2019-12-28 09:27:00,NaT
174620,31205132327893,10061,194819216,2019-12-28 12:05:00,2019-12-28 09:27:00
200439,31412115824794,10061,130633421,2019-12-30 21:35:00,2019-12-28 12:05:00
145426,31431527100615,10061,62464559,2019-12-31 02:58:00,2019-12-30 21:35:00
167859,31075686185309,10084,4401933,2019-12-27 00:08:00,NaT
178051,31077155357404,10084,13837190,2019-12-27 00:32:00,2019-12-27 00:08:00
91837,31079024994425,10084,39828049,2019-12-27 01:03:00,2019-12-27 00:32:00
20401,31079688206563,10084,73993513,2019-12-27 01:14:00,2019-12-27 01:03:00
199320,31103178638264,10084,80643747,2019-12-27 07:46:00,2019-12-27 01:14:00
219313,31108766989338,10084,11753447,2019-12-27 09:19:00,2019-12-27 07:46:00
67315,31122489886365,10084,102616150,2019-12-27 13:08:00,2019-12-27 09:19:00
111298,31122994584099,10084,162847440,2019-12-27 13:16:00,2019-12-27 13:08:00
34650,31123641739732,10084,8457753,2019-12-27 13:27:00,2019-12-27 13:16:00
190869,31134354630457,10084,96570515,2019-12-27 16:25:00,2019-12-27 13:27:00
215169,31144745245972,10084,99322339,2019-12-27 19:19:00,2019-12-27 16:25:00
91488,31147592882260,10084,81373632,2019-12-27 20:06:00,2019-12-27 19:19:00
198167,31152118785559,10084,12840239,2019-12-27 21:21:00,2019-12-27 20:06:00

In [52]:
data['time_diff'] = data['event_time'] - data['previous_time']
data.head(20)

,orderid,shopid,userid,event_time,previous_time,time_diff
59,31086409141107,10009,196962305,2019-12-27 03:06:00,NaT,NaT
76187,31144571933461,10051,2854032,2019-12-27 19:16:00,NaT,NaT
9055,31254979546679,10051,48600461,2019-12-29 01:56:00,2019-12-27 19:16:00,1 days 06:40:00
188513,31195675919209,10061,168750452,2019-12-28 09:27:00,NaT,NaT
174620,31205132327893,10061,194819216,2019-12-28 12:05:00,2019-12-28 09:27:00,0 days 02:38:00
200439,31412115824794,10061,130633421,2019-12-30 21:35:00,2019-12-28 12:05:00,2 days 09:30:00
145426,31431527100615,10061,62464559,2019-12-31 02:58:00,2019-12-30 21:35:00,0 days 05:23:00
167859,31075686185309,10084,4401933,2019-12-27 00:08:00,NaT,NaT
178051,31077155357404,10084,13837190,2019-12-27 00:32:00,2019-12-27 00:08:00,0 days 00:24:00
91837,31079024994425,10084,39828049,2019-12-27 01:03:00,2019-12-27 00:32:00,0 days 00:31:00
20401,31079688206563,10084,73993513,2019-12-27 01:14:00,2019-12-27 01:03:00,0 days 00:11:00
199320,31103178638264,10084,80643747,2019-12-27 07:46:00,2019-12-27 01:14:00,0 days 06:32:00
219313,31108766989338,10084,11753447,2019-12-27 09:19:00,2019-12-27 07:46:00,0 days 01:33:00
67315,31122489886365,10084,102616150,2019-12-27 13:08:00,2019-12-27 09:19:00,0 days 03:49:00
111298,31122994584099,10084,162847440,2019-12-27 13:16:00,2019-12-27 13:08:00,0 days 00:08:00
34650,31123641739732,10084,8457753,2019-12-27 13:27:00,2019-12-27 13:16:00,0 days 00:11:00
190869,31134354630457,10084,96570515,2019-12-27 16:25:00,2019-12-27 13:27:00,0 days 02:58:00
215169,31144745245972,10084,99322339,2019-12-27 19:19:00,2019-12-27 16:25:00,0 days 02:54:00
91488,31147592882260,10084,81373632,2019-12-27 20:06:00,2019-12-27 19:19:00,0 days 00:47:00
198167,31152118785559,10084,12840239,2019-12-27 21:21:00,2019-12-27 20:06:00,0 days 01:15:00

In [53]:
data['time_diff_d'] = data['time_diff'].astype('timedelta64[D]')
data['time_diff_m'] = data['time_diff'].astype('timedelta64[m]')
data['time_diff_s'] = data['time_diff'].astype('timedelta64[s]')
data.head(20)

,orderid,shopid,userid,event_time,previous_time,time_diff,time_diff_d,time_diff_m,time_diff_s
59,31086409141107,10009,196962305,2019-12-27 03:06:00,NaT,NaT,NaN,NaN,NaN
76187,31144571933461,10051,2854032,2019-12-27 19:16:00,NaT,NaT,NaN,NaN,NaN
9055,31254979546679,10051,48600461,2019-12-29 01:56:00,2019-12-27 19:16:00,1 days 06:40:00,1.0,1840.0,110400.0
188513,31195675919209,10061,168750452,2019-12-28 09:27:00,NaT,NaT,NaN,NaN,NaN
174620,31205132327893,10061,194819216,2019-12-28 12:05:00,2019-12-28 09:27:00,0 days 02:38:00,0.0,158.0,9480.0
200439,31412115824794,10061,130633421,2019-12-30 21:35:00,2019-12-28 12:05:00,2 days 09:30:00,2.0,3450.0,207000.0
145426,31431527100615,10061,62464559,2019-12-31 02:58:00,2019-12-30 21:35:00,0 days 05:23:00,0.0,323.0,19380.0
167859,31075686185309,10084,4401933,2019-12-27 00:08:00,NaT,NaT,NaN,NaN,NaN
178051,31077155357404,10084,13837190,2019-12-27 00:32:00,2019-12-27 00:08:00,0 days 00:24:00,0.0,24.0,1440.0
91837,31079024994425,10084,39828049,2019-12-27 01:03:00,2019-12-27 00:32:00,0 days 00:31:00,0.0,31.0,1860.0
20401,31079688206563,10084,73993513,2019-12-27 01:14:00,2019-12-27 01:03:00,0 days 00:11:00,0.0,11.0,660.0
199320,31103178638264,10084,80643747,2019-12-27 07:46:00,2019-12-27 01:14:00,0 days 06:32:00,0.0,392.0,23520.0
219313,31108766989338,10084,11753447,2019-12-27 09:19:00,2019-12-27 07:46:00,0 days 01:33:00,0.0,93.0,5580.0
67315,31122489886365,10084,102616150,2019-12-27 13:08:00,2019-12-27 09:19:00,0 days 03:49:00,0.0,229.0,13740.0
111298,31122994584099,10084,162847440,2019-12-27 13:16:00,2019-12-27 13:08:00,0 days 00:08:00,0.0,8.0,480.0
34650,31123641739732,10084,8457753,2019-12-27 13:27:00,2019-12-27 13:16:00,0 days 00:11:00,0.0,11.0,660.0
190869,31134354630457,10084,96570515,2019-12-27 16:25:00,2019-12-27 13:27:00,0 days 02:58:00,0.0,178.0,10680.0
215169,31144745245972,10084,99322339,2019-12-27 19:19:00,2019-12-27 16:25:00,0 days 02:54:00,0.0,174.0,10440.0
91488,31147592882260,10084,81373632,2019-12-27 20:06:00,2019-12-27 19:19:00,0 days 00:47:00,0.0,47.0,2820.0
198167,31152118785559,10084,12840239,2019-12-27 21:21:00,2019-12-27 20:06:00,0 days 01:15:00,0.0,75.0,4500.0

## Q2: Moving Average

In [56]:
'''
---------------------------------
1. MA n期,會有n-1個NaN
2. t-(MA期數-1)~t -> return to t
---------------------------------
index|time_diff_m|time_diff_m_r2|
0    |0          |NaN           |
1    |10         |5             |
2    |20         |15            |
'''

data['time_diff_m_r2']=data.groupby(['shopid'])['time_diff_m'].apply(lambda x : x.rolling(2).mean())
#subset->rolling->return
data.head(20)

,orderid,shopid,userid,event_time,previous_time,time_diff,time_diff_d,time_diff_m,time_diff_s,time_diff_m_r2
59,31086409141107,10009,196962305,2019-12-27 03:06:00,NaT,NaT,NaN,NaN,NaN,NaN
76187,31144571933461,10051,2854032,2019-12-27 19:16:00,NaT,NaT,NaN,NaN,NaN,NaN
9055,31254979546679,10051,48600461,2019-12-29 01:56:00,2019-12-27 19:16:00,1 days 06:40:00,1.0,1840.0,110400.0,NaN
188513,31195675919209,10061,168750452,2019-12-28 09:27:00,NaT,NaT,NaN,NaN,NaN,NaN
174620,31205132327893,10061,194819216,2019-12-28 12:05:00,2019-12-28 09:27:00,0 days 02:38:00,0.0,158.0,9480.0,NaN
200439,31412115824794,10061,130633421,2019-12-30 21:35:00,2019-12-28 12:05:00,2 days 09:30:00,2.0,3450.0,207000.0,1804.0
145426,31431527100615,10061,62464559,2019-12-31 02:58:00,2019-12-30 21:35:00,0 days 05:23:00,0.0,323.0,19380.0,1886.5
167859,31075686185309,10084,4401933,2019-12-27 00:08:00,NaT,NaT,NaN,NaN,NaN,NaN
178051,31077155357404,10084,13837190,2019-12-27 00:32:00,2019-12-27 00:08:00,0 days 00:24:00,0.0,24.0,1440.0,NaN
91837,31079024994425,10084,39828049,2019-12-27 01:03:00,2019-12-27 00:32:00,0 days 00:31:00,0.0,31.0,1860.0,27.5
20401,31079688206563,10084,73993513,2019-12-27 01:14:00,2019-12-27 01:03:00,0 days 00:11:00,0.0,11.0,660.0,21.0
199320,31103178638264,10084,80643747,2019-12-27 07:46:00,2019-12-27 01:14:00,0 days 06:32:00,0.0,392.0,23520.0,201.5
219313,31108766989338,10084,11753447,2019-12-27 09:19:00,2019-12-27 07:46:00,0 days 01:33:00,0.0,93.0,5580.0,242.5
67315,31122489886365,10084,102616150,2019-12-27 13:08:00,2019-12-27 09:19:00,0 days 03:49:00,0.0,229.0,13740.0,161.0
111298,31122994584099,10084,162847440,2019-12-27 13:16:00,2019-12-27 13:08:00,0 days 00:08:00,0.0,8.0,480.0,118.5
34650,31123641739732,10084,8457753,2019-12-27 13:27:00,2019-12-27 13:16:00,0 days 00:11:00,0.0,11.0,660.0,9.5
190869,31134354630457,10084,96570515,2019-12-27 16:25:00,2019-12-27 13:27:00,0 days 02:58:00,0.0,178.0,10680.0,94.5
215169,31144745245972,10084,99322339,2019-12-27 19:19:00,2019-12-27 16:25:00,0 days 02:54:00,0.0,174.0,10440.0,176.0
91488,31147592882260,10084,81373632,2019-12-27 20:06:00,2019-12-27 19:19:00,0 days 00:47:00,0.0,47.0,2820.0,110.5
198167,31152118785559,10084,12840239,2019-12-27 21:21:00,2019-12-27 20:06:00,0 days 01:15:00,0.0,75.0,4500.0,61.0

## Q3: ''.join(x.tolist())

In [58]:
#https://www.runoob.com/python/att-string-join.html
seq = ("a", "b", "c") 
print("-".join( seq ))#把'-' join到seq element中

a-b-c

In [59]:
#若沒有把userid弄成str,會報錯
data.groupby(['shopid'])['userid'].apply(lambda x: '&'.join(x))

TypeError: sequence item 0: expected str instance, int found

In [63]:
data[['shopid','userid']]=data[['shopid','userid']].astype(str)
data.dtypes

orderid                     int64
shopid                     object
userid                     object
event_time         datetime64[ns]
previous_time      datetime64[ns]
time_diff         timedelta64[ns]
time_diff_d               float64
time_diff_m               float64
time_diff_s               float64
time_diff_m_r2            float64
dtype: object

In [64]:
data.groupby(['shopid'])['userid'].apply(lambda x: '&'.join(x))

shopid
100028340                                            170326390
100028604                                             46481617
100028732    153538082&27847434&85650202&58691712&116420312...
100028984                          95599924&113199848&44077271
100029057                                              2825674
                                   ...
99862571                                             191030689
99893337     148965847&76266392&117104131&199610661&85911&2...
99893367     82508910&169134431&100795862&95832811&21462998...
99893412           30380479&399560&155162601&67831734&73365289
99893455     162634960&210112492&207088777&134083739&204091...
Name: userid, Length: 18770, dtype: object